/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: 'Roboto', sans-serif;
	line-height: 1;
}

/*
 * CUSTOM
 */

html {
  background: url(/images/eric-hurst.png) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #f1f1f1;
  background-position: calc(180px + 100%) calc(100% + 180px);
}

a {color: #ACACAC; text-decoration: none;}
a:hover {color: #ADADAD;}

h1 {
  font-family: 'Knewave', cursive;
  color: #CACACA;
  font-size: 400%;
  margin: 0.15em 0.2em;
}

#social {
  color: #5D5D5D;
  display: flex;
  flex-flow: row wrap;
  padding-left: 0.65em;
}

.social-channel {
  /* font-size: 250%; */
  margin-top: 2%;
  margin-bottom: 2%;
  flex: 1 100%;
}

/* @media all and (min-width: 760px) { */
/*   h1 { */
/*     font-size: 750%; */
/*     width: 200%; */
/*     margin-left: -1%; */
/*     margin-top: -1.5%; */
/*   } */
/*   #social { */
/*     margin-top: 15%; */
/*     text-align: center; */
/*     align-items: center; */
/*     height: 10em; */
/*   } */
/*   .social-channel { */
/*     flex: 1 auto; */
/*   } */
/* } */
